@page "/CadastrarToken"

@using System.Collections.Generic
@using CRD_WEB.Components.Pages.PagesCompartilhadas;


<div class="popup-overlay">
    <div class="popup-content">
        <!-- Cabeçalho com logo e botão fechar -->
        <div class="popup-header" >
            <img src="/Imagens/LogoSenaiBranco..png" class="logo-ajustada" alt="Logo Senai" />
            
            <NavLink href="/" class="nav-link fechar">
                <i class="fas fa-times" style="color: ghostwhite;"></i>
            </NavLink>
        </div>

        <!-- Texto centralizado -->
        <div class="popup-center-text">
            <h3 class="texto-cadastrar-token">Aproxime o<br> Token do leitor</h3>
        </div>

        <!-- Imagem no rodapé direito -->
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="popup-footer">

            <img src="/Imagens/AproximacaoTag.png" class="tag-img" />
        </div>
    </div>
</div>

<TabelaPrincipal/>



