@inherits LayoutComponentBase

<div class="login-Layout">
    <main>
        <div class="background-inicio-img"></div>
        
        <article class="content px-4">
            
            
            @Body

        </article>
    </main>
</div>
