
<!-- HEADER TOPO COM BOTÃO HAMBÚRGUER -->
<div class="navbar-header">
    <label for="nav-toggle" class="nav-icon">☰</label>
</div>

<!-- CHECKBOX CONTROLADOR -->
<input type="checkbox" id="nav-toggle" class="nav-toggle" />

<!-- MENU LATERAL ESCONDIDO -->
<div class="nav-menu">
    <nav>
        <div class="navbar-header">
            <label for="nav-toggle" class="nav-icon-navigation"><i class="bi bi-list"></i></label>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="CadastrarProfessor">
                Cadastrar Professor
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="CadastrarEditor">
               Cadastrar Editor
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="CadastrarToken">
                Cadastrar Token
            </NavLink>
        </div>
    </nav>
</div>
