@inherits LayoutComponentBase
@inject NavigationManager Navigation


<div class="page">
    <div class="container-temporario">
        <NavLink href="/Login" class="botao-login-temporario" title="Sair">
            <i class="fas fa-sign-out-alt" style="font-size: 3vh;"></i>
        </NavLink>
    </div>
    <main>

        <article class="content px-4">
            <div style="align-self:center; align-items:center;" class="Logo-branca-home">
                <img src="/Imagens/LogoSenaiBranco..png" />
            </div>
            @Body

        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

}