@page "/CadastrarProfessor"
@using System.Collections.Generic
@using CRD_WEB.Components.Pages.PagesCompartilhadas;
@layout CRD_WEB.Components.Layout.DocenteLayout;


<div class="popup-overlay">
    <div class="popup-content-professor">
        <div class="popup-header">
            <img src="/Imagens/LogoSenaiBranco..png" class="logo-ajustada" alt="Logo Senai" />

            <NavLink href="/" class="nav-link fechar">
                <i class="fas fa-times" style="color: ghostwhite;"></i>
            </NavLink>
        </div>

        <div class="popup-center-text">
            <div class="texto-registrar-login">
                Registrar<br />Funcionário
            </div>
        </div>

        <div class="container-style-professor">
            <InputText class="text-input" id="matricula" @bind-Value="matricula" placeholder="Matrícula" />
            <InputText class="text-input" id="nome" @bind-Value="nome" placeholder="Nome" />
            <select id="Cargo" class="estilo-input-professor">
                <option value="Professor">Professor</option>
                <option value="Agente">Agente</option>
            </select>

            <button class="btn-primary">Registrar</button>
        </div>
    </div>
</div>

<TabelaPrincipal />

@code {
    private string matricula;
    private string nome;
}