@page "/RetirarChave"
@using System.Collections.Generic
@using CRD_WEB.Components;
@layout CRD_WEB.Components.Layout.DocenteLayout;


<div class="popup-overlay">
    <div class="popup-content-retirar">
        <div class="popup-header">
            <img src="/Imagens/LogoSenaiBranco..png" class="logo-ajustada" alt="Logo Senai" />

            <NavLink href="/HomeDocente" class="nav-link fechar">
                <i class="fas fa-times" style="color: ghostwhite;"></i>
            </NavLink>
        </div>

        <div class="popup-center-text">
            <div class="texto-retirar-chave">
                Digite a sua matrícula<br />para retirar a chave
            </div>
        </div>

        <div class="container-style-registrar">
            <InputText class="text-input" id="matricula" @bind-Value="matricula" placeholder="Digite sua Matrícula" />

            <button class="btn-primary">Confirmar</button>
        </div>
    </div>
</div>

<TabelaDocentes />

@code {
    private string matricula;
}