@page "/Login"

@layout Components.Layout.LoginLayout

<div class="background-login">
    
    <div class="background-inicio-content">

        <div class="container-style">

            <div class="Logo-branca">
                <img src='/Imagens/LogoSenaiBranco.png' />
            </div>

            <InputText class="text-input" id="matricula" @bind-Value="matricula" placeholder="Digite sua Matricula" />
            <InputText class="text-input" id="senha" @bind-Value="senha" placeholder="Digite sua Senha" />

            <button class="btn-primary">Entrar</button>
        </div>
    </div>
</div>

@code {
    private string matricula;
    private string senha;
}
